.product {
  width: 100vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
  padding: 10px;
}

.product img {
  width: 80%;
  object-fit: contain;
}

@media screen and (min-width: 760px) {
  .product {
    width: 20vw;
  }
  
  .product img {
    width: 20%;
  }
}